<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="colouredConsole" xsi:type="ColoredConsole" />
		<target name="infoFile" xsi:type="File" fileName="${basedir}/Logs/${processname}-Info-${shortdate}.log" />
		<target name="errorFile" xsi:type="File" fileName="${basedir}/Logs/${processname}-Error-${shortdate}.log" />
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="colouredConsole" />
		<logger name="*" minlevel="Trace" maxlevel="Info" writeTo="infoFile" />
		<logger name="*" minlevel="Warn" maxlevel="Fatal" writeTo="errorFile" />
	</rules>
</nlog>